textarea {
  width: 400px;
  height: 400px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #6D6D6D;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 2px 2px 0px #800000;
}

input {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #6D6D6D;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 2px 2px 0px #800000;
}